/*
Theme Name: Kale Child
Theme URI: https://www.lyrathemes.com/kale/
Author: LyraThemes
Author URI: https://www.lyrathemes.com/
Description: Kale is a charming and elegant, aesthetically minimal and uncluttered food blog theme that can also be used for a variety of purposes. Whether you want to share recipes or fashion tips, run a lifestyle, parenting or cooking blog, Kale is a perfect theme choice. Simple but feature-filled food blog or cooking blog WordPress theme with WooCommerce integration. Beautifully designed and extremely clean, Kale is super easy to set up and is optimized for search engines. Kale comes with a special front page; with featured posts and a large highlight post, the option to show a banner or a posts slider in the header, and RTL support. It also comes with built-in menus for displaying your social media presence, multiple blog feed layouts, text and image logo options, sidebar size options (compact and default), banner/slider color overlay options, and much more! Kale is backed by world class, one-on-one support, and a super active team of developers and designers ready to help! 
Template: kale
Version: 1.2.4
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: kale-child
Tags: one-column, two-columns, three-columns, right-sidebar, grid-layout, flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-images,footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, food-and-drink
*/




/*custom styles*/

.woocommerce div.product form.cart .button, .woocommerce ul.products li.product a.add_to_cart_button {
	margin-top: 1em;
	text-decoration: none;
	font-size: .875em;
	padding: 10px 20px;
	width: 100%;
	text-align: center;
	color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.woocommerce div.product form.cart .button:hover, .woocommerce ul.products li.product a.add_to_cart_button:hover {
	color: #fff;
	background: #000;
}


